* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  border: 4px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
  /* align-items: center;
  justify-content: center; */

  /* grid-template-rows: 3rem 4rem; */
}
h1 {
  font-size: 4rem;
}
.item {
  /* height: 10rem; */
  /* width: 10rem; */
  background-color: aquamarine;
  border: 2px solid black;
}

/* for mobile device */
@media screen and (max-width: 767px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  h1 {
    /* font-size: 2rem; */
    display: none;
  }
}
/* for tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 3rem;
  }
}
