* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* div {
  border: 2px solid red;
  height: 20px;
}
.container {
  border: 2px solid black;
}
#mainDiv {
  border: 2px solid yellow;
}
.div1,
.div2,
#mainDiv {
  color: black;
}

.div1 h1 p span {
  color: red;
}

.black-color {
  color: black;
} */
.container {
  border: 4px solid black;
  height: 100vh;
  padding: 20px;
  background-color: white;
  color: black;
}
h1 {
  border: 2px solid red;
  /* margin: 10px; */
  /* padding: 20px; */
  /* padding-left: 20px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 2px; */
  font-size: 4rem;
  font-weight: bold;
  padding: 2px 40px 6px 80px;
}
img {
  height: 100%;
  width: 100%;
}
